*{
    margin: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-size: cover;
    background-repeat: no-repeat;
}


/*section*/
section{
    position: relative;
    padding: 2rem;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
}

/*Grid*/
img{
    display: inline-block;
    position: relative;
    width: 200px;
}
ul{
    width: auto;
}
ul.grid li {
    display: inline-block;
    position: relative;
    width: 350px;
}

ul.grid li h4 {
	color: Brown;
	font: Bold 0.9em "LatoSemibold",Verdana,Helvetica,"Liberation Sans";
	text-align: center;
}

ul.grid li p {
	color: #393639;
	font: Normal 0.8em "LatoRegular",Verdana,Helvetica,"Liberation Sans";
    margin: 0 9px;
	text-align: left;
}

ul.grid li img.avatar {
	background: #F9FCF9;
	border: solid 1px #B99F9F;
	margin: 6px 7px;
	padding: 6px;
    width: 50px;
}

ul.grid li img.avatar:hover {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.box {
	position:relative;
	width: 168px;	
	margin: 16px auto;
}

.box-gradient {
    background: rgba(226,226,226,1);
  
}



