*{
    margin: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0093E9;    
}


/*section*/
section{
    position: relative;
    padding: 2rem;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
}
article, .content{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

/*contenido*/
.imagen{
    position: relative;
    width: 200px;
    margin: 0%;
}
img{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 300px;
}
ul{
    width: auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
ul.grid li {
    display: inline-block;
    position: relative;
    width: 350px;
}

ul.grid li h4 {
	color: rgb(255, 0, 0);
	font: Bold 1.2em "LatoSemibold",Verdana,Helvetica,"Liberation Sans";
	text-align: center;
    padding: 15px;
}

ul.grid li p {
	color: #000000;
	font: Normal 1em "LatoRegular",Verdana,Helvetica,"Liberation Sans";
    margin: 0 9px;
	text-align: left;
}

ul.grid li img.avatar {
	background: #F9FCF9;
	border: solid 1px #ffffff;
	margin: 6px 7px;
	padding: 6px;
    width: 50px;
}

ul.grid li img.avatar:hover {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px rgb(248, 248, 248);
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.box {
	position:relative;
	width: 168px;
	/* margin: 16px auto; */
}

.box-gradient {
    background: rgb(255, 255, 255);
    height: 300px;
}


.tickets{    
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: white;    
    padding: 10px;
}

.tickets li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    padding: 10px;
}
